<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
</head>
<style> 
    #panel, #flip {
      padding: 5px;
      text-align: center;
      background-color: #e5eecc;
      border: solid 1px #c3c3c3;
    }
    
    #panel {
      padding: 50px;
      display: none;
    }
    </style>
<body>

   
    <script>
         
$(document).ready(function(){
  $("#flip").click(function(){
    $("#panel").slideToggle("slow");
  });
});
 var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.firstname = "IRENE";
        $scope.lastname = "IRINNAH";    
    });
   
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstname = "IRENE";
    $scope.changeName = function() {
        $scope.firstname = "IRINNAH";
    }
});
$(document).ready(function(){
  $("button").click(function(){
  });
});

$(document).ready(function(){
  $("button").click(function(){
    $("h1").toggle(1000);
  });
});
</script>

<button id="toggle">toggle button</button>

<h1>Welcome to our home page. </h1>


    
    <div id="flip">Click to slide the panel down or up</div>
    <div id="panel">fill up the details below</div><br><br>
    <div ng-app="myApp" ng-controller="myCtrl">
        Name: <input ng-model="firstname">
        <h2>{{firstname}}</h2>
        Name: <input ng-model="lastname">
        <h2>{{lastname}}</h2>
        Name: <input ng-model="email">
        <h2>{{email}}</h2>
        Name: <input ng-model="phone">
        <h2>{{phone}}</h2>
        <h2 ng-click="changeName()">{{firstname}}</h2>
        <h2 ng-click="changeName()">{{lastname}}</h2>
        <h2 ng-click="changeName()">{{email}}</h2>
        <h2 ng-click="changeName()">{{phone}}</h2>



    </div>
    
    <p>Change the name inside the input field, and the model data will change automatically, 
      and therefore also the header will change its value.</p>
    <body style="background-color:#0000ff"></body>



</body>
</html>